body{
    /* font-family: 'Berkshire Swash', cursive; */
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}